<h1>Account page</h1>
    <h3>Personal information</h3>
    
<div>
    <h3>Hosting</h3>
    <form action="/add_space" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="desc">Description:</label>
            <textarea type="text" name="description" id="desc" required>
            </textarea>
        </div>
        <div>
            <label for="price">Price per night:</label>
            <input type="number" name="price_per_night" id="price" required>
        </div>
        <div>
            <label  for="datePick">Dates:</label>
            <input name="dates" type="text" id="datePick" required/>
            
        </div>
        <div>
            <input type="submit" value="Add place">
        </div>
    </form>
</div>
<div>
    <h3></h3>
</div>
<div>
    <h3></h3>
</div>
<div>
    <h3></h3>
</div>