<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakersBnB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <style>
    body {
    font-size: 18px;
    background-color: skyblue;
}

    p {
    font-size: 18px;
    color: black;
}

    .main-brand {
    font-size: 75px;
    color: red;
    background-color: white;
    text-align: center;    
}

    .footer-makersbnb {
    font-size: 25px;
    color: red;
    background-color: white;
    text-align: center;
}

    .login-bar {
    font-size: 25px;
    color: white;
    background-color: grey;
    text-align: right;
}

    a {
    text-decoration: none;
    color: red;
  }  

  </style>
  
  </head>
  <body>

  

    <header>
        <div class="main-brand"><a href="/">MakersBnB</a></div>
        <div class="login-bar"><a href="/signup"><button>Sign up</button></a><a href="/login"><button>Log in/Log out</button></a></div>
        <p style="color: red;">quick test this should be red</p>
    </header>

    <div>
    <%= yield %>
    </div>

    <footer>
        <div class="footer-makersbnb">MakersBnB</div>
    </footer>
    
  </body>
</html>
