<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakersBnB</title>
  </head>
  <body>
    <header>
        <div class="main-title"><a href="/">MakersBnB</div>
        <div class="login-bar"><a href="/">[insert sign up / log in / log out]</div>
    </header>

    <%= yield %>

    <footer>
        <div class="footer-makersbnb">MakersBnB</div>
    </footer>
  </body>
</html>