<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
        <div class="main-title"><a href="/">MakersBnB</div>
        <div class="login-bar"> Depending on session status: Sign in Log in / Log Out</div>
    </head>
    <body>
        <%= yield %>
    </body>
    <footer>
        <div class="footer-makersbnb">MakersBnB</div>
    </footer>
</html>